<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <section class="container">

    </section>
</body>
<body>
    <%- include('./include/header'); -%>
    <main class="">
        <section class="container">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
        </section>
    </main>
    <%- include('./include/footer'); -%>
</body>
</html>
